USE [ProjectFinal]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[Facebook] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewCategory]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_NewCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[NewCategoryId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[LastEditdate] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[LastEditBy] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [nvarchar](200) NOT NULL,
	[TotalMoney] [money] NULL,
	[PaymentTypeId] [int] NULL,
	[PaymentStatusId] [int] NULL,
	[Phone] [nvarchar](500) NULL,
	[Name] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](128) NULL,
	[CreateDate] [datetime] NULL,
	[LastEditBy] [nvarchar](128) NULL,
	[LastEditDate] [datetime] NULL,
	[ContentPayment] [nvarchar](500) NULL,
	[OrderCode] [nvarchar](100) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentBanking]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentBanking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeId] [int] NULL,
	[BankCode] [nvarchar](200) NULL,
	[BankName] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[LastEditDate] [datetime] NULL,
	[LastEditBy] [uniqueidentifier] NULL,
	[BankLogo] [nvarchar](200) NULL,
	[BankInfo] [nvarchar](200) NULL,
	[BankNumber] [nvarchar](50) NULL,
	[BankReceive] [nvarchar](200) NULL,
 CONSTRAINT [PK_PaymentBanking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentExpVat]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentExpVat](
	[PaymentExpVatId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](200) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[BuyerName] [nvarchar](100) NULL,
	[CompanyAddress] [nvarchar](200) NULL,
	[ReceiveBillAddress] [nvarchar](200) NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NULL,
	[LastEditBy] [uniqueidentifier] NULL,
	[LastEditDate] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentExpVat] PRIMARY KEY CLUSTERED 
(
	[PaymentExpVatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLog]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLog](
	[PaymentLogId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](128) NULL,
	[Amount] [numeric](18, 0) NULL,
	[PaymentStatusId] [int] NULL,
	[PaymentTypeId] [int] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[CreateBy] [nvarchar](128) NULL,
	[CreateDate] [datetime] NULL,
	[BankCode] [nvarchar](50) NULL,
	[BankTranNo] [nvarchar](50) NULL,
	[CardType] [nvarchar](50) NULL,
	[OrderInfo] [nvarchar](500) NULL,
	[TransactionNo] [nvarchar](50) NULL,
	[ResponseCode] [nvarchar](50) NULL,
	[TxnRef] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentLog] PRIMARY KEY CLUSTERED 
(
	[PaymentLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Money] [money] NULL,
	[Descripttion] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/9/2021 10:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Pass] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentBanking] ON 

INSERT [dbo].[PaymentBanking] ([Id], [PaymentTypeId], [BankCode], [BankName], [CreateDate], [CreateBy], [LastEditDate], [LastEditBy], [BankLogo], [BankInfo], [BankNumber], [BankReceive]) VALUES (1, 1, N'ABBANK', N'Ngân hàng thương mại cổ phần An Bình (ABBANK)', CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentBanking] ([Id], [PaymentTypeId], [BankCode], [BankName], [CreateDate], [CreateBy], [LastEditDate], [LastEditBy], [BankLogo], [BankInfo], [BankNumber], [BankReceive]) VALUES (2, 1, N'ACB', N'Ngân hàng ACB', CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentBanking] ([Id], [PaymentTypeId], [BankCode], [BankName], [CreateDate], [CreateBy], [LastEditDate], [LastEditBy], [BankLogo], [BankInfo], [BankNumber], [BankReceive]) VALUES (3, 1, N'AGRIBANK', N'Ngân hàng Nông nghiệp (Agribank)', CAST(N'2020-07-17T14:18:29.527' AS DateTime), NULL, CAST(N'2020-07-17T14:18:29.527' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PaymentBanking] OFF
GO
INSERT [dbo].[PaymentStatus] ([Id], [Name]) VALUES (-1, N'Thanh toán không thành công')
INSERT [dbo].[PaymentStatus] ([Id], [Name]) VALUES (0, N'Chờ thanh toán')
INSERT [dbo].[PaymentStatus] ([Id], [Name]) VALUES (1, N'Đã thanh toán')
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (1, N'Thẻ ATM nội địa')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (2, N'Thẻ tín dụng')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (3, N'Ví điện tử')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Name], [Money], [Descripttion], [CreateDate], [FromDate], [ToDate], [Status]) VALUES (1, N'Quán Yên Vui Đống Đa – Hà Nội', 100000000.0000, N'Mấy ngày này, các tác viên của Quỹ Từ Thiện Việt Nam lần lượt ra Hà Nội để hỗ trợ Quán Yên Vui Đống Đa Hà Nội mở bán thử vào ngày 14/12/2020.', CAST(N'2021-01-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Service] ([Id], [Name], [Money], [Descripttion], [CreateDate], [FromDate], [ToDate], [Status]) VALUES (2, N'Quán Yên Vui Đống Đa – Hà Nội', 100000000.0000, N'Mấy ngày này, các tác viên của Quỹ Từ Thiện Việt Nam lần lượt ra Hà Nội để hỗ trợ Quán Yên Vui Đống Đa Hà Nội mở bán thử vào ngày 14/12/2020.', CAST(N'2021-01-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Service] ([Id], [Name], [Money], [Descripttion], [CreateDate], [FromDate], [ToDate], [Status]) VALUES (3, N'Quán Yên Vui Đống Đa – Hà Nội', 100000000.0000, N'Mấy ngày này, các tác viên của Quỹ Từ Thiện Việt Nam lần lượt ra Hà Nội để hỗ trợ Quán Yên Vui Đống Đa Hà Nội mở bán thử vào ngày 14/12/2020.', CAST(N'2021-01-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PaymentLog] ADD  CONSTRAINT [DF_PaymentLog_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_NewCategory] FOREIGN KEY([NewCategoryId])
REFERENCES [dbo].[NewCategory] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_NewCategory]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentType]
GO
ALTER TABLE [dbo].[PaymentBanking]  WITH CHECK ADD  CONSTRAINT [FK_PaymentBanking_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[PaymentBanking] CHECK CONSTRAINT [FK_PaymentBanking_PaymentType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'getdate()' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Service'
GO
