@{
    ViewBag.Title = "About";
}

<!-- end header -->
<section class="slider_section">
    <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="/Assets/images/banner1.PNG" alt="First slide">
                <div class="container">
                    <div class="carousel-caption relative">
                        <h1>
                            Lan tỏa <br> <strong class="black_bold"> Lòng </strong><br>
                            <strong class="yellow_bold">Nhân ái </strong>
                        </h1>
                        <p>
                            Chúng tôi với bạn trên hành trình tìm kiếm hạnh phúc <br>   bằng cách lan tỏa lòng nhân ái, chuyển hóa khổ đau.
                        </p>
                        @*<a href="#">Xem chi tiết</a>*@
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide" src="~/Assets/images/banner5-1557815885.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption relative">
                        <h1>
                            Chia <br> <strong class="black_bold">sẻ </strong><br>
                            <strong class="yellow_bold">Nụ cười </strong>
                        </h1>
                        <p>
                            Nhìn thấy những nụ cười hạnh phúc từ mọi người <br>
                            bản thân bạn sẽ cảm thấy sự an yên của cuộc sống.
                        </p>
                        @*<a href="#">Xem chi tiết</a>*@
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="~/Assets/images/banner5-1557815885.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption relative">
                        <h1>
                            Chia <br> <strong class="black_bold">sẻ </strong><br>
                            <strong class="yellow_bold">Nụ cười </strong>
                        </h1>
                        <p>
                            Nhìn thấy những nụ cười hạnh phúc từ mọi người <br>
                            bản thân bạn sẽ cảm thấy sự an yên của cuộc sống.
                        </p>
                        @*<a href="#">Xem chi tiết</a>*@
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-right'></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-left'></i>
        </a>

    </div>

</section>
<div class="product-bg">
    <div class="Clients_bg_white">
        <div class="container">
            <div id="client_slider" class="carousel slide banner_Client" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#client_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#client_slider" data-slide-to="1"></li>
                    <li data-target="#client_slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption text-bg">
                                <div class="img_bg">
                                    <i><span>Tôn chỉ, mục đích:<br><strong class="date">12/02/2021</strong></span></i>
                                </div>
                                <p>
                                    1. Quỹ Tâm Nguyện Việt là Quỹ xã hội, từ thiện được thành lập hoàn toàn tự nguyện, hoạt động không vì lợi nhuận, nhằm mục đích vận động các tổ chức cá nhân trong và ngoài nước hỗ trợ thực hiện hoạt động từ thiện, nhân đạo và các mục đích phát triển cộng đồng phù hợp quy định của pháp luật.<br />
                                    2. Quỹ được hình thành từ nguồn vốn đóng góp ban đầu của các sáng lập viên và tự tạo vốn trên cơ sở vận động quyên góp, vận động tài trợ của các cá nhân, tổ chức trong và ngoài nước theo quy định của pháp luật để thực hiện các hoạt động xã hội, từ thiện.
                                </p>
                                <div class="img_bg">
                                    <i><span>MỤC TIÊU HOẠT ĐỘNG CỦA QUỸ:<br><strong class="date">12/02/2021</strong></span></i>

                                </div>
                                <p>
                                    - Tiếp cận và tổ chức thực hiện ngay trong năm 2021 các chương trình, dự án hoạt động xã hội, từ thiện của Quỹ.<br />
                                    - Thu hút được ngày càng nhiều các cá nhân, tổ chức trong và ngoài nước đồng hành với Quỹ Tâm Nguyện Việt.<br />
                                    - Mở rộng hợp tác liên kết các cá nhân, tập thể, tổ chức liên quan cùng mục đích để phát triển hoạt động của Quỹ.<br />
                                    - Lựa chọn và phát triển những chương trình, dự án xã hội, từ thiện thực hiện lâu dài góp phần phục vụ và phát triển cộng đồng.
                                </p><br/>
                                    <div>
                                        <img style="display:block;margin-left:auto;margin-right:auto;" src="~/Assets/images/anh2.jpg" />
                                        <p style="text-align:center;display: block;">Hoạt động của quỹ gần đây </p>
                                    </div>
                                <div class="img_bg">
                                    <i><span>Tầm nhìn sứ mệnh:<br><strong class="date">12/02/2021</strong></span></i>

                                </div>
                                <p>
                                    1/ Tầm nhìn:<br />
                                    Phát triển quỹ ngày càng lớn mạnh, chuyên nghiệp, có sức lan tỏa sâu rộng cả trong và ngoài nước, trở thành một địa chỉ tin cậy của nhiều tổ chức, cá nhân hảo tâm trong và ngoài nước.<br />
                                    2/ Sứ mệnh:<br />
                                    Chia sẻ đến nhiều đối tượng đang gặp khó khăn trong cuộc sống, góp phần đem lại những giá trị tốt đẹp cho xã hội.<br />
                                    3/ Giá trị:<br />
                                    Chân thành; Thấu cảm, Kết nối; Hiệu quả.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="yellow_bg">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="yellow-box">
                        <h3>Liên hệ với chúng tôi<i><img src="/Assets/icon/calll.png" /></i></h3>

                        <p>Hotline hỗ trợ trực tuyến 24/7: 0372.166.368.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="yellow-box">
                        <a href="#">Gọi ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>