@{
    ViewBag.Title = "Thông tin liên hệ";
}

<div class="container" style="margin-top: 30px">
    <h2 style="text-align:center;">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
       Trường đại học sư phạm Kỹ thuật Hưng Yên<br />
       Nhân Hòa-Mỹ Hào<br />
        <abbr title="Phone">SĐT:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>



    <!-- end our product -->
    <!-- map -->
    <div class="container-fluid padi">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2634.85987452686!2d106.05869126376284!3d20.942289594147386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a30555555555%3A0x39a8acd006ab8e69!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgUGjhuqFtIEvhu7kgVGh14bqtdCBIxrBuZyBZw6puLCBDxqEgc-G7nyAy!5e0!3m2!1svi!2s!4v1611725689943!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <!-- end map -->
</div>
